.sign-up {
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 750px) {
    grid-column-start: 1;
  }

  .title {
    margin: 10px;
  }
}
