.sign-in-and-sign-up {
    width: 100%;
    display: grid;
    gap: 5%;
    justify-content: space-between;

    grid-template-columns:1fr 1fr;
    
    @media screen and (max-width: 750px) {
        grid-template-columns:1fr;
    }
}
